body {
    margin: 0;
    display: flex;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    margin: 0;
}

#error-container {
    position: fixed;
    z-index: 3;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: white;

    &.hidden {
        display: none;
    }

    #error-message {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

#label-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;

    span {
        position: absolute;
    }
}

#scroll-overlay {
    position: fixed;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 110vw;
    height: 100vh;
    overflow: auto;
}
